body { width: 1000px;
    margin: auto;
    background-color: #A9CCE3;

  }

  header h1 { 
    text-align: center;
    color:#2C3E50  ;
    font-size: 35px;

  }

 a {
    padding: 20px;
    text-decoration: none;
    text-align: center;
    
    
 }

 a:hover {
    background-color: #FADBD8;
    color: #C39BD3;
 }
 
 
  .logo {
    width: 250px;
    display: block;
    margin: auto;


  }

  p {
      background-color: #D4E6F1;
      font-size: 25px;
      text-indent: 40px;
      padding: 80px;


  }

  ul {    
    padding: 20px;
    font-size: 20px;
    color: #6C3483;



  }

  section {
    text-align: center;
    color:#2C3E50  ;

  }



